<p>The following supplemental files are available at <a href="https://doi.org/10.22427/NIEHS-DATA-NIEHS-10.29">https://doi.org/10.22427/NIEHS-DATA-NIEHS-10.29</a>.</p>

<h3>F.1. Apical Benchmark Dose Analysis</h3>
<ul>
  <li>Mean Body Weight Summary &mdash; <code>C20022-01_Mean_Body_Weight_Summary.docx</code></li>
  <li>Organ Weights Summary &mdash; <code>C20022-01_Organ_Weights_Summary.docx</code></li>
  <li>Clinical Chemistry Summary &mdash; <code>C20022-01_Clinical_Chemistry_Summary.docx</code></li>
  <li>Hematology Summary &mdash; <code>C20022-01_Hematology_Data_Summary.docx</code></li>
  <li>Hormone and Enzymes Summary &mdash; <code>C20022-01_Hormone_Summary.docx</code></li>
  <li>BMD, NOEL and LOEL Summary for Apical Endpoints &mdash; <code>C20022-01_BMD_BMDL_LOEL_and_NOEL_Summary_for_Apical_Endpoints_Sorted_by_BMD_LOEL_from_Low_to_High.docx</code></li>
  <li>Male BMD Apical Endpoints Model Fits &mdash; <code>C20022-01_Appendix_Male_07282021.docx</code></li>
  <li>Female BMD Apical Endpoints Model Fits &mdash; <code>C20022-01_Appendix_Female_07282021.docx</code></li>
  <li>BMD Model Recommendation Selection Rules &mdash; <code>C20022-01_Benchmark_Dose_Model_Recommendation_Selection_Rules_for_Apical_Endpoints.docx</code></li>
  <li>Read Me &mdash; <code>C20022-01_ReadME.docx</code></li>
  <li>Male Model Parameters &mdash; <code>C20022-01_Parameter_Male_07282021.xlsx</code></li>
  <li>Female Model Parameters &mdash; <code>C20022-01_Parameter_Female_07282021.xlsx</code></li>
  <li>BMDs code package &mdash; <code>C20022-01_bmds.zip</code></li>
</ul>
